@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Bold.woff2') format('woff2'),
        url('assets/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Light.woff2') format('woff2'),
        url('assets/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-BoldCondIt.woff2') format('woff2'),
        url('assets/MyriadPro-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-BoldCond.woff2') format('woff2'),
        url('assets/MyriadPro-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-CondIt.woff2') format('woff2'),
        url('assets/MyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-BoldIt.woff2') format('woff2'),
        url('assets/MyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Cond.woff2') format('woff2'),
        url('assets/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('assets/MyriadPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Semibold.woff2') format('woff2'),
        url('assets/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Regular.woff2') format('woff2'),
        url('assets/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'myriad pro';
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 7, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-links li {
    margin: 9px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 35px;
    justify-content: center;
    align-items: center;
}

.logo:hover{
    transform: scale(1.05);
    transition: ease all 0.2s;
}

img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    background-image: url('assets/bg2.png');
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
    height: 380px;
}

.hero-content {
    max-width: 800px;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 0px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.hero-info{
    font-size: 19px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 19px;
    transition: background-color 0.3s;
    outline-color: #f4f4f9;
    outline: 1px solid;
}

.cta-button:hover {
    background-color: transparent;
    transition: ease all 0.3s;
    transform: scale(1.02);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin: 20px;
}

#contact-links {
    padding: 80px 0px 80px 0px;
}

.whatsapp {
    text-decoration: none;
    color: #333;
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "myriad pro";
    font-weight: bold;
    font-size: 19px;
    position: relative; 
}


.whatsapp-options {
    display: none; 
    position: absolute;
    top: 0px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #005c4b;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'myriad pro';
    font-size: 18px;
    width: 120px;
    height: 60px;
}


.whatsapp:hover .whatsapp-options {
    display: block; 
}


.whatsapp-options .whatsapp-number {
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
}


.whatsapp-options .whatsapp-number#number1:hover {
    color: #111b21;
}


.whatsapp-options .whatsapp-number#number2:hover {
    color: #111b21;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container a {
    text-decoration: none;
    color: #333; 
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "myriad pro";
    font-weight: bold;
    font-size: 19px;
}


.icon-container a i {
    font-size: 40px;
    margin-bottom: 0px;
    color: #fff;
    background-color: #005c4b;
    padding: 15px;
    border-radius: 50px;
}


.icon-container a i:hover {
    transform: scale(1.05);
    transition: ease all 0.3s;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #111b21;
    color: #fff;
}

section {
    padding: 60px 20px;
}

section#images{
    padding: 0px 0px 30px 0px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
