
@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Bold.woff2') format('woff2'),
        url('assets/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Light.woff2') format('woff2'),
        url('assets/MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-BoldCondIt.woff2') format('woff2'),
        url('assets/MyriadPro-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-BoldCond.woff2') format('woff2'),
        url('assets/MyriadPro-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-CondIt.woff2') format('woff2'),
        url('assets/MyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-BoldIt.woff2') format('woff2'),
        url('assets/MyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Cond.woff2') format('woff2'),
        url('assets/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('assets/MyriadPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Semibold.woff2') format('woff2'),
        url('assets/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/MyriadPro-Regular.woff2') format('woff2'),
        url('assets/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'myriad pro';
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 7, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

nav {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.palavra{
    background-color: #111b21;
    padding: 2px 5px;
    border-radius: 8px;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-links li {
    margin: 9px;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.nav-links a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-left: 35px;
}

.nav-links a:hover{
    color: #fff;
    transition: ease all 0.2s;
}

.logo:hover{
    transform: scale(1.05);
    transition: ease all 0.2s;
}

.logo img {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    background-image: url('assets/bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
    height: 520px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto; 
    text-align: center;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-top: 0pxpx;
    margin-bottom: 0px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.hero-info{
    font-size: 19px;
}

.pagamento-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    background-image: url('https://papers.co/wallpaper/papers.co-sg94-blue-aurora-night-gradation-blur-36-3840x2400-4k-wallpaper.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    color: #fff;
    height: 300px;
    padding: 200px;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    width: 125px;
    padding: 15px 30px;
    background-color: transparent;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 19px;
    transition: background-color 0.3s;
    outline: 1.5px solid #fff;
    text-align: center;
    background-color: #111b21;
}


.cta-button:hover {
    background-color: #111b21;
    transition: ease all 0.3s;
    transform: scale(1.01);
    font-size: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -65px;
}

.image-container img {
    margin: 20px;
    border-radius: 10px;

}.image-container img:hover {
    margin: 20px;
    border-radius: 10px;
    transform: scale(1.01);
    transition: ease all 0.3s;
}


#login-system .hero-info {
    margin-bottom: 0px; 

#login-system .image-container img {
    margin-top: 60px;  
    margin-bottom: 60px;
    border-radius: 10px;
}

#pagamento .hero-info {
    margin-top: -50px;
    margin-bottom: 0px;  
}

#pagamento .image-container img {
    margin-top: 60px; 
    margin-bottom: 50px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #111b21;
    color: #fff;
}

section {
    padding: 60px 20px;
}

section#images{
    padding: 0px 0px 30px 0px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 29px;
}


.digitar {
    border-right: 2px solid #494949; 
    white-space: nowrap;
    overflow: hidden; 
    animation: typing 3s steps(40, end); 
    color: #095d56;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
